/*  SIGN UPP ZONE  */

.CreateAccContainer {
    padding: 166.5px 204.5px;
    width: 769px;
    height: 799px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.CreateAccContainer h1 {
    font-weight: 600;
    font-size: 30px;
    color: #101828;
}

.CreateAccContainer form {
    width: 360px;
    height: 466px;
    margin: 0 auto;
    margin-top: 32px;
}

.CreateAccContainer form input {
    padding: 10px 14px;
    border: none;
    border: 1px solid #D0D5DD;
    width: 360px;
    border-radius: 8px;
}

.CreateAccContainer form button {
    border: none;
    padding: 10px;
    width: 360px;
    background-color: #7F56D9;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 8px;
    transition-duration: 250ms;
}

.CreateAccContainer form button:hover {
    border: none;
    padding: 10px;
    width: 360px;
    background-color: #5f26db;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 8px;
}

.CreateAccContainer .pass-title {
    color: #667085;
    font-weight: 400;
    font-size: 14px;
}

.CreateAccContainer .have-acc {
    display: flex;
    gap: 4px;
    margin-top: 32px;
    padding-left: 50px;
}
.CreateAccContainer .have-acc a {
    text-decoration: none;
    color: #6941C6;
    font-weight: 600;
}

.CreateAccContainer .have-acc p {
    color: #667085;
}