.detail-page-area {
    width: 1440px;
    margin: 0 auto;
}

.detail-page-area .detail-nav {
    padding: 26px 63px;
    display: flex;
    gap: 54px;
    background-color: #FDFDFD;
}

.detail-nav a {
    text-decoration: none;
    color:#3A3A3A;
    font-weight: 500;
    font-size: 16px;
}

.detail-products-area {
    display: flex;
    gap: 48px;
}

.detail-products-area img {
    margin-top: 22px;
}

.product-info-area {
    padding-top: 22px;
}

.product-info-area h1 {
    color: #003F62;
    font-weight: 500;
    font-size: 29.6px;
}

.product-info-area h5 {
    font-weight: 600;
    color: #4A4A4A;
    font-size: 29.6px;
}

hr {
   width: 618px; 
}

.product-size {
    display: flex;
    gap: 19px;
}

.size-button-area {
    display: flex;
    gap: 19px;
}

.size-button-area button {
    border: none;
    padding: 2.5px 20px;
    font-weight: 500;
}

.product-quantity {
    margin-top: 28px;
    display: flex;
    gap: 19px;
}

.quant-button-area button {
    border: none;
    border: 1px solid gray;
    padding: 2.5px 20px;
}

.product-info-area .button-area {
    display: flex;
    gap: 29px;
    background-color: white;
    width: 614px;
}

.product-info-area .button-area button {
    border: none;
    padding: 19px 50px;
    background-color: #EDA415;
    color: white;
    border-radius: 32px;
}

.other-product {
    display: flex;
    gap: 25px;
}

.button-description-area {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 78px;
    margin-bottom: 35px;
}

.button-description-area button {
    border: none;
    padding: 14.5px 51px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #8F8F8F;
    color: rgb(13, 13, 13);
    font-weight: 500;
}

.button-description-area button:last-child {
    background-color: #003F62;
    color: rgb(255, 255, 255);
}

.customer-review-card {
    border: 1px solid #B8B8B8;
    margin: 0 auto;
    padding: 42px 49px;
    border-radius: 20px;
    margin-bottom: 64px;
}

.customer-review-card h1 {
    font-weight: 600;
    color: #003F62;
}

.customer-review-card p {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 19px;
}

.customer-review-card a {
    background-color: #003F62;
    color: white;
    padding: 5px 28px;
}