* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-text {
    display: flex;              
    justify-content: space-between;
    font-size: 14px;
    margin: 21px 61px;
    color: #292D32;
}

.container-header-right-text {
    display: flex;
    gap: 42px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003F62;
    padding: 25px 118px;
    font-size: 14px;
}

.search-input {
    padding: 14px 25px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-left: 85px;
    color: #292D32;
    border: none;
    width: 260px;
}

.button-area {
    width: 132px;
    padding: 14px;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: orange;
    color: white;
}

.sign-in {
    margin-top: 10px;
    display: flex;
    gap: 31px;
    color: white;
}

i {
    font-size: 16px;
}

.nav-items {
    background-color: #f4f4f4;
}


.navbar-body {
    background-color: #f4f4f4;
}

.navbar-body a{
    color: #3A3A3A;
    padding: 23px;
}

.navbar {
    gap: 33.08px;
    
}

.free {
    font-size: 16px;
    color: #003F62;
    font-weight: 700;
    padding-top: 10px;
}

.products-card {
    width: 381.63px;
    height: 147px;
    border: 1px solid #a5a5a5;
}

.products-card {
   width: 381.63px;
   border-radius: 20px;
   margin: auto;
   margin-top: 52px;
   padding: 20px;
   color: #003F62;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}


.product-card-text h1{
    font-size: 22.38px;
    font-weight: 600;
}

.product-card-text p{
    font-size: 18px;
}


.card img {
    width: 150px;
    font-size: 14px;
}

/* adversting area */
.adversting-area {
    display: flex;
    gap: 450px;
    justify-content: space-evenly;
    height: 394px;
    padding: 67px 174px;
}

.left-area h1 {
    font-size: 43px;
    font-weight: 700;
    color: #1b5a7d;
    line-height: 64px;
    width: 175px;
}

.shopview {
    display: flex;
    gap: 21px;
    margin-top: 19px;
}

.shopview button {
    border: none;
    padding: 18px 32px;
    border-radius: 20px;
}

.shopview button:first-child {
    background-color: #eda415;
}

.shopview button:last-child {
   border: 1px solid #316887
}

/* Main menu navigations */
.navigation-menus {
    background-color: #f4f4f4;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 327px;
}

.categories select{
   background-color: #eda415;
   color: white;
   border: none;
   width: 218px;
   height: 70px;
   padding: 23px 14px;
   font-size: 16px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 33.08px;
}

.menu-items a {
    color: #3a3a3a;
    font-size: 16px;
    line-height: 24px;
}
