* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.three-card {
  display: flex;
  gap: 20px;
}

.container-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #292d32;
  width: 1440px;
  margin: 0 auto;
  padding: 22.5px 61px;
  background-color: white;
}

.container-header-right-text {
  display: flex;
  gap: 42px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003f62;
  padding: 25px 118px;
  font-size: 14px;
  width: 1440px;
  margin: 0 auto;
}

.search-input {
  padding: 14px 25px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  margin-left: 85px;
  color: #292d32;
  border: none;
  width: 260px;
}

.button-area {
  width: 132px;
  padding: 14px;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: orange;
  color: white;
}

.sign-in {
  margin-top: 10px;
  display: flex;
  gap: 31px;
  color: white;
}

.sign-in a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

i {
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.nav-items {
  background-color: #f4f4f4;
}

.navbar-body {
  background-color: #f4f4f4;
}

.navbar-body a {
  color: #3a3a3a;
  padding: 23px;
}

.navbar {
  gap: 33.08px;
}

.free {
  font-size: 16px;
  color: #003f62;
  font-weight: 700;
  padding-top: 10px;
}

/* Submenu area  */

.sub-menu {
  display: flex;
  gap: 69px;
  margin-top: 23px;
}

.sub-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #3a3a3a;
}

.sub-menu select {
  border: none;
  background-color: #f4f4f4;
}

.products-card-area img {
  height: 195px;
}

.card img {
  width: 150px;
  font-size: 14px;
}

/* Main menu navigations */
.nav-menus {
  padding-top: 15px;
}

.navigation-menus {
  background-color: #f4f4f4;
  height: 71px;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  padding: 0px 63px;
}

.navigation-menus .free {
  padding-top: 23px;
}

.categories select {
  background-color: #eda415;
  color: white;
  border: none;
  width: 218px;
  height: 70px;
  padding: 23px 14px;
  font-size: 16px;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 33.08px;
}

.menu-items a {
  color: #3a3a3a;
  font-size: 16px;
  line-height: 24px;
}

/* Populer products area */

.products-header {
  display: flex;
  gap: 482px;
  justify-content: center;
  margin: 78px 61px;
}

.products-header h1 {
  color: #1b5a7d;
  font-size: 27.38px;
  font-weight: 600;
  line-height: 41px;
}

.products-buttons {
  display: flex;
  gap: 7px;
}

.products-buttons button {
  border: none;
  border: 1px solid #003f62;
  border-radius: 20px;
  padding: 10px 30.5px;
  color: #1b5a7d;
  font-weight: 500;
  font-size: 16.5px;
  background-color: white;
}


.all-products {
  height: 657px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  width: 1314px;
  margin: 0 auto;
}

/* License card */
.license-card-cont {
  width: 1328px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #e2f4ff;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  gap: 110px;
  justify-content: center;
  padding: 45px;
}

.license-card-area {
  display: flex;
  gap: 40px;
}

.license-card-area i {
  color: #eda415;
  font-size: 42px;
}

.license-card-area .text-area h1 {
  font-size: 22.09px;
  font-weight: 600;
  color: #003f62;
}

.license-card-area .text-area p {
  font-size: 18px;
  font-weight: 400;
  color: #003f62;
}

/* comments card area */
.comment-card-area-cont {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 120px;
}

.comment-card-cont {
  border: 1px solid #bababa;
  border-radius: 20px;
  padding: 16px;
}

.comment-card-head {
  display: flex;
  align-items: center;
  gap: 37px;
}

.comment-card-head img {
  border: 3px dashed;
  border-radius: 50%;
  padding: 3px;
  color: #eda415;
  margin-bottom: 26px;
}

.comment-card-head h1 {
  font-size: 15.9px;
  color: #003f62;
  font-weight: 500;
}

.comment-card-cont p {
  color: #003f62;
  font-weight: 400;
  font-size: 13.17px;
  background-color: #e2f4ff;
  padding: 11px 26px;
  width: 395.4px;
  border-radius: 20px;
}

/* Sponser company */
.sponser-company-logo {
  background-color: #e2f4ff;
  width: 1317px;
  height: 136px;
  margin: 0 auto;
  padding: 47px 32px;
  display: flex;
  gap: 55px;
  margin-bottom: 101px;
}

/* CAROUSEL CSS STYLE ZONE*/
.god-cont
  .carousel-adversting
  .alice-carousel__dots-item:not(.__custom):not(:last-child) {
  margin-right: 8px;
}

.god-cont .carousel-adversting .alice-carousel__dots {
  list-style: none;
  text-align: start;
  margin-left: 580px;
}

.god-cont
  .carousel-adversting
  .alice-carousel__dots
  .alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: rgb(255, 163, 35);
}

.god-cont .carousel-adversting .alice-carousel__dots-item:not(.__custom) {
  background-color: #ffffff;
  border: 1px solid #adadad;
  width: 16px;
  height: 16px;
}

.god-cont .carousel-adversting .alice-carousel__prev-btn {
  display: none;
}

/* Three card carousel slider */
.carousel-three-cards {
  display: flex;
  gap: 40px;
  width: 1222px;
  margin: 0 auto;
}
