.menu-container {
    width: 1440px;
    margin: 0 auto;
}

.detail-product {
    display: flex;
}

.detail-page-menu {
    width: 1440px;
    margin: 0 auto;
    padding: 23px 63px;
    display: flex;
    gap: 21.5px;
}

.detail-product img {
   margin: 22px 63px;
}

.aval {
    display: flex;
    gap: 19px;
}

.right-area .availab {
    color: #30BD57
}

